{% load static %}

<html>
<head>
  <title>If It's Cool</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'comingsoon/comingsoon.css' %}">
</head>
<body>
<div class="container">
  <header>
    <img class="main-img" src="{% static 'comingsoon/logo.jpg' %}" alt="If It's Cool">
  </header>
  <div class="banner">
    <h2 class="coming-soon">COMING SOON</h2>
  </div>
  <div class="content">
    <p class="email-blurb">
      Sign up to be the first to hear from us when we go live!
    </p>
    <form>
      <input type="text">
      <input type="submit">
    </form>
  </div>
</div>
</body>
</html>