{% load static %}

<html>
<head>
  <title>If It's Cool</title>
  <meta charset="utf-8">
  <meta name="description" content="If It's Cool is an alternative rock band located in Northwest Indiana, just outside of Chicago.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'comingsoon/css/comingsoon.css' %}">
</head>
<body>
<div class="container">
  <div class="row banner">
    <div class="col">
      <img class="main-img" src="{% static 'comingsoon/img/logo.jpg' %}" alt="If It's Cool">
      <h2 class="coming-soon">COMING SOON</h2>
      <ul class="social-media">
        <li class = "social-media-li"><a href="https://facebook.com/ifitscoolband"><i class="social-media-icon fa fa-facebook-square"></i></a></li>
        <li class = "social-media-li"><a href="https://twitter.com/ifitscool"><i class="social-media-icon fa fa-twitter"></i></a></li>
        <li class = "social-media-li"><a href="https://instagram.com/ifitscoolofficial"><i class="social-media-icon fa fa-instagram"></i> </a></li>
      </ul>
      {% include 'comingsoon/subscribe.html' %}
    </div>
  </div>
  <div class="row">
    <footer class="col">
      <p>
        Want to get ahold of us?
        <br>
        Email the whole band at <a href="mailto:band@ifitscoolband.com">band@ifitscoolband.com</a>!
      </p>
      <p>Copyright &copy; 2017 If It's Cool</p>
    </footer>
  </div>
</div>
</body>
</html>